* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3em;
    padding: 3em;
    border-radius: 5px;
    background-color: rgb(202, 211, 203);
}

.start {
    display: flex;
    margin: 30px auto;
    background-color: green;
    padding: 20px;
    border: green solid 1px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.start:hover {
    background-color: rgb(0, 100, 0);
    transition: 0.3s;
    color: white;
    border: black solid 1px;
}

.start:active {
    background-color: black;
    border:rgb(0, 100, 0) solid 1px;
}

.attempts {
    display: none;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: black solid 1px;
    border-radius: 50%;
    background-color: rgb(0, 128, 0);
}

.attempts > p {
    font-size: 30px;
}

.letter-board {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    margin: 30px auto;
}

.letter-board > .letter-tile {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    border-width: 0px;
}

.letter-board > .letter-tile:hover {
    background-color: rgb(208, 208, 208);
    border: black solid 1px;
    transition: 0.2s;
}

.letter-board > .letter-tile:active {
    background-color: black;
    border:  rgb(208, 208, 208) solid 1px;
}

.keyword {
    display: none;
    max-width: 650px;
    justify-content: center;
    background-color: grey;
    margin: 30px auto;
    padding: 15px;
}

.keyword > .letter-tile {
    /* display: none; */
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 2px auto;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    margin: auto 5px;
}

@media (max-width: 800px) {
    .keyword > .letter-tile {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }

    @media (max-width: 690px) {
        .keyword {
            padding: 15px 5px;
        }
        .keyword > .letter-tile {
            height: 30px;
            width: 30px;
            font-size: 20px;
        }
    }
}